:root {
	--primary: #f7dd36;
}

html {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; 
	font-size: 20px;
	font-weight: 600;
	line-height: 1.3;
}

body {
	margin:0;
}

/* all black links */
a {
	color:black;
}

/******** grid ***********/

.Grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2rem repeat(5, calc(100vh / 5));
	grid-gap: 2.5%;
	height: 95vh;
	/* different padding-x to compensate for box-shadow */
	padding: 0 1.8vw 0 1.5vw;
}

/********* contact social media logos ******/

.SocialWrapper {
	display:flex;
	justify-content:flex-end;
}

.SocialWrapper > a {
	/* social links */
	margin-right: 0.5rem;
	margin-top: 0.5rem;
}

.SocialWrapper > span {
	
	margin-top:0.8rem;
	margin-right: 0.5rem;
}

.SocialWrapper > a > img {
	/* social logos */
	width: 1rem;
	height: 1rem;
}

.Contact {
	/* email address */
	font-size:0.7rem;
}


/******** grid's boxes ***********/

.Grid > *,
.Box {
	border: 0.15rem solid black;
	box-shadow: 0.3em 0.3rem 0px var(--primary);
	border-radius: 0.1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align:center;
}

.Grid-bigBox {
	grid-column: 1/4;
}

.Grid-mediumBox {
	grid-column: 2/4;
}

.Grid-noBorderBox {
	box-shadow: none;
	border: 0;
}

/******** Logo ***********/

.Logo {
	max-width: 90%;
	margin-bottom: 0.6em;
	color: transparent;
}

.Map {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

/******* texts ******/

big,
.Title {
	font-size: 1.3rem;
	letter-spacing: 0.05em;
}

.DescriptionText {
	max-width: 95%;
	max-height: 95%;
	margin: 0 auto;
	font-size:0.70rem;
}

.CalendarText {
	margin: 0 0.5em;
}

.DescriptionText,
.CalendarText,
.VideoText {
	transition: font-size 0.3s ease-in-out;
}

@media (min-width:574px) {
	.Logo {
		max-width: 70%;
	}
}

@media (min-width:768px) {
	html {
		font-size: 26px;
	}

	.Logo {
		max-width: 55%;
	}
}

@media (min-width: 1280px) {
	html {
		font-size: 30px;
	}
}

/***** Info page *****/

.BackArrow {
	float:left;
	margin-left:0.5rem;
}

.InfoWrapper {
	margin-top:10%;
	margin-bottom:3%;
}

.InfoWrapper-title {
	margin:0;
	text-align:center;
}

.InfoWrapper-textWrapper {
	margin: auto 1.4rem;
	clear:both;
	text-align: center;
}

.InfoWrapper-textWrapper-text {
	font-size: 0.8rem;
	margin:1rem;
}


/****** booking page *********/

.TitleBooking {
	text-align:center;
	font-size:1.7rem;
	margin:0;
}

.BookingContainer {
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.Box {
	text-align: center;
	margin:0.5rem;
}
.Box:hover {
	cursor:pointer;
}
.Box-text {
	font-size:0.9rem;
	padding: 0.6rem;
}