:root {
  --primary: #d6bff3 ;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  font-size: calc(10px + 1.5vw);
  font-size: clamp(16px, 4vw, 22px);
  font-weight: 600;
  line-height: 1.4;
}

h1 {
  font-size: 1.5rem;
}

body {
  margin: 0;
}

ul {
  font-weight: normal;
}

/* all black links */
a {
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

/******** grid ***********/

.Grid {
  min-height: calc(100vh - 3rem);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: 2rem repeat(5, calc(100vh / 5)); */
  grid-template-rows: 2rem repeat(3, calc(100vh / 5)) minmax(20vh, auto);
  grid-gap: 2.5%;
  /* different padding-x to compensate for box-shadow */
  padding: 0 1.8vw 3rem 1.5vw;
}

/* a:has(.Subtitle):hover { */
a:not(:has(img)):hover {
  background: var(--primary);
  /* color: white; */
}

/******** grid's boxes ***********/

.Grid > *,
.Box {
  border: 0.15rem solid black;
  box-shadow: 0.3em 0.3rem 0px var(--primary);
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  grid-column: span 2;
}

.Grid-bigBox {
  grid-column: span 6;
}

.Grid-mediumBox {
  grid-column: span 3;
}

.Grid-noBorderBox {
  box-shadow: none;
  border: 0;
}

a.Grid-mediumBox {
  text-wrap: balance;
}

/******** Logo ***********/

.Logo {
  width: 6rem;
  color: transparent;
}

.Map {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

/******* texts ******/

.Title {
  margin: 0;
  text-align: center;
}

.Title,
big,
.Subtitle {
  font-size: 1rem;

  @media (min-width: 700px) {
    & {
      font-size: 1.5rem;
    }
  }
}

.DescriptionText {
  max-width: 95%;
  max-height: 95%;
  margin: 0 auto;
  font-size: 0.75rem;
}

.CalendarText {
  margin: 0 0.5em;
}

/********* contact social media logos ******/

.SocialWrapper {
  display: flex;
  justify-content: flex-end;
}

.SocialWrapper > a {
  /* social links */
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.SocialWrapper > span {
  margin-top: 0.8rem;
  margin-right: 0.5rem;
}

.SocialWrapper > a > img {
  /* social logos */
  width: 1rem;
  height: 1rem;
}

.Contact {
  /* email address */
  font-size: 0.75rem;
  font-weight: normal;
  text-decoration: none;
}


/***** Info page *****/

.BackArrow {
  float: left;
}

.BackArrow a {
  display: inline-block;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  font-size: 0.75rem;
}

.InfoWrapper {
  /* margin-top: 5vh; */
  margin: 2vh 1vw;
}

/****** booking page *********/

.BookingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* gap: 1rem; */

  > .Box {
    width: 28%;
  }
}

.Box {
  text-align: center;
  margin: 0.5rem;
}

.Box-text {
  padding: 0 0.6rem;
}

.Box--longText {
  text-align: initial;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.Box--longText p {
  font-weight: 400;
  margin: 0rem 0 1rem;
}

.Box--longText h2:first-child {
  margin-top: 0.5rem;
}

.Box--longText h2 {
  font-size: 1rem;
  margin: 0rem 0 1rem;
}

.Box input[type="image"]:last-child {
  display: block;
  max-width: 100%;
}

small {
  display: block;
  font-size: 0.75rem;
  font-weight: normal;
  max-width: 80%;
  margin: 0.5rem auto 0;
}

.paypalbox {
  margin: 1rem;
}
.paypalbox > div:first-child {
  margin: auto;
}
.paypalbox #desc-label {
  font-size: 1.5rem !important;
}

p[center] {
  text-align: center;
}

.Manchet {
  font-size: larger;
}
.Box--longText p.Manchet {
  margin-top: 0.5rem;
  text-align: center;
}
.Box--longText li {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}


.Box > form {
  display: flex;
  place-content: center;
  margin-bottom: 1rem;
}
